<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://cdn.tailwindcss.com"></script>
    <meta charset="UTF-8">
    <title>Health Predictor</title>
    <style>
        .loader {
            border: 16px solid #f3f3f3;
            border-radius: 50%;
            border-top: 16px solid black;
            border-bottom: 16px solid black;
            width: 120px;
            height: 120px;
            -webkit-animation: spin 1s linear;
            animation: spin 1s linear;
        }

        @-webkit-keyframes spin {
            0% {
                -webkit-transform: rotate(0deg);
            }

            100% {
                -webkit-transform: rotate(360deg);
            }
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }

        * {
            box-sizing: border-box;
        }

        .column {
            float: left;
            width: 33.33%;
            border: 2px solid red;

            /* margin-left: auto;
            margin-right: auto; */
            padding: 5px;

        }

        .centric {
            /* margin: auto; */
            /* justify-content: center; */
            display: flex;
            justify-content: center;
            margin-right: 10px;
            /* Horizontal Space */
            margin-bottom: 10px;

        }

        /* Clearfix (clear floats) */
        .row::after {

            content: "";
            clear: both;
            display: table;
            margin-right: 10px;
            /* Horizontal Space */
            margin-bottom: 10px;

        }
    </style>

</head>


<body>
    {% if result %}




    <script type="text/javascript">
        alert("Definition of predicted outcome : The modified Rankin (mRS) score is a 6 point disability score with possible scores from 0 to 6, where 0 denotes lack of any symptoms, 5 denotes severe bedridden disability and score of 6 denotes death. We have classified the mRS score into three classes as class 1 (mRS ≦ 2 = favorable outcome), class 2 (mRS > 2 and ≦ 5 = unfavorable outcome) and class 3 (mRS=6=death).               mRS value predicted = {{ result }}");
    </script>

    {% endif %}


    <button disabled="" type="button"
        class="py-2.5 px-5 mr-2 text-sm font-medium text-gray-900 bg-green-100 rounded-lg border border-green-400 hover:bg-green-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-green-700 focus:text-blue-700 dark:bg-green-800 dark:text-green-400 dark:border-green-600 dark:hover:text-green-400 dark:hover:bg-green-700 inline-flex items-center">
        <svg role="status" class="loader inline mr-2 w-4 h-4 text-gray-200 dark:text-gray-600" viewBox="0 0 100 101"
            fill="none" xmlns="http://www.w3.org/2000/svg">
            <!-- <path
                d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                fill="currentColor"></path> -->
            <path
                d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                fill="#1C64F2"></path>
        </svg>
        Model loaded and AI prediction test passed!
    </button>




    <div class="relative  overflow-hidden">
        <div class="hidden sm:block sm:absolute sm:inset-y-0 sm:h-full sm:w-full" aria-hidden="true">
            <div class="relative h-full max-w-7xl mx-auto">
                <svg class="absolute right-full transform translate-y-1/4 translate-x-1/4 lg:translate-x-1/2"
                    width="404" height="784" fill="none" viewBox="0 0 404 784">
                    <defs>
                        <pattern id="f210dbf6-a58d-4871-961e-36d5016a0f49" x="0" y="0" width="20" height="20"
                            patternUnits="userSpaceOnUse">
                            <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
                        </pattern>
                    </defs>
                    <rect width="404" height="784" fill="url(#f210dbf6-a58d-4871-961e-36d5016a0f49)" />
                </svg>
                <svg class="absolute left-full transform -translate-y-3/4 -translate-x-1/4 md:-translate-y-1/2 lg:-translate-x-1/2"
                    width="404" height="784" fill="none" viewBox="0 0 404 784">
                    <defs>
                        <pattern id="5d0dd344-b041-4d26-bec4-8d33ea57ec9b" x="0" y="0" width="20" height="20"
                            patternUnits="userSpaceOnUse">
                            <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
                        </pattern>
                    </defs>
                    <rect width="404" height="784" fill="url(#5d0dd344-b041-4d26-bec4-8d33ea57ec9b)" />
                </svg>
            </div>
        </div>

        <div class="relative pt-6 pb-16 sm:pb-24">


            <main class="mt-16 mx-auto max-w-7xl px-4 sm:mt-24">
                <div class="text-center">
                    <h1 class="text-4xl tracking-tight font-extrabold text-gray-900 sm:text-5xl md:text-6xl">
                        <span class="block xl:inline">An online tool for prediction of endovascular mechanical
                            thrombectomy</span>
                        <span class="block text-indigo-600 xl:inline">Outcome</span>
                    </h1>

                    <p class="mt-3 max-w-md mx-auto text-base text-gray-500 sm:text-lg md:mt-5 md:text-xl md:max-w-3xl">
                        This is a web app to predict mRS at discharge in acute ischaemic stroke patients with mechanical
                        thrombectomy based on several features.</p>

                    <p class="mt-3 max-w-md mx-auto text-base text-gray-500 sm:text-lg md:mt-5 md:text-xl md:max-w-3xl">
                        Please fill in the blanks with corresponding data. After
                        that,click on the Predict button at the bottom to see the prediction of the classifier.

                    </p>
                    <!-- <div class="mt-5 max-w-md mx-auto sm:flex sm:justify-center md:mt-8">
                        <div class="rounded-md shadow">
                            <a href="#"
                                class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 md:py-4 md:text-lg md:px-10">
                                Get started </a>
                        </div>
                        <div class="mt-3 rounded-md shadow sm:mt-0 sm:ml-3">
                            <a href="#"
                                class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-indigo-600 bg-white hover:bg-gray-50 md:py-4 md:text-lg md:px-10">
                                Live demo </a>
                        </div>
                    </div> -->
                </div>
            </main>
        </div>
    </div>

    <div class="max-w-7xl px-4 sm:px-8 lg:px-16 xl:px-20 mx-auto">

        <div class="px-4 sm:px-6 lg:px-8 py-4">
            <div class="sm:flex sm:items-center">
                <div class="sm:flex-auto">
                    <h1 class="text-xl font-semibold text-gray-900">Patient Details</h1>
                    <p class="mt-2 text-sm text-gray-700">You may also select to view prediction from our sample set by
                        selecting a sample case.</p>
                </div>

            </div>
            <div class="mt-8 flex flex-col">
                <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
                    <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
                        <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 md:rounded-lg">
                            <table class="min-w-full divide-y divide-gray-300" id="myTable">
                                <thead class="bg-gray-50">
                                    <tr>
                                        {% for feature in features %}
                                        <th scope="col"
                                            class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">
                                            {{feature}}</th>
                                        {% endfor %}
                                    </tr>
                                </thead>
                                <tbody class="divide-y divide-gray-200 bg-white">
                                    {% for patient in patients %}

                                    <tr id=patient-{{loop.index}}>
                                        <td
                                            class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6">
                                            patient {{loop.index}}</td>
                                        {% for col in patient %}
                                        <td
                                            class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6">
                                            {{ col }}</td>
                                        {% endfor %}
                                    </tr>
                                    {% endfor %}

                                    <!-- More people... -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <form method="post" action="/" class="my-4 py-2">



            <!-- <img style="max-height: 500%; width: 100%;" src="{{url_for('static', filename='abc.jpg')}}" />

            <br> -->


            <div class="grid grid-cols-8 gap-6
        ">



                <div
                    class="relative border border-gray-300 rounded-md px-3 py-2 shadow-sm focus-within:ring-1 focus-within:ring-indigo-600 focus-within:border-indigo-600 sm:col-span-2">
                    <label for="age"
                        class="absolute -top-2 left-2 -mt-px inline-block px-1 bg-white text-xs font-medium text-gray-900">AGE</label>
                    <input type="number" name="a" id="age"
                        class="block w-full border-0 p-0 text-gray-900 placeholder-gray-500 focus:ring-0 sm:text-sm"
                        placeholder="">
                </div>
                <!-- <label>AGE</label>
        <input type="number" name="a"> -->

                <div
                    class="relative border border-gray-300 rounded-md px-3 py-2 shadow-sm focus-within:ring-1 focus-within:ring-indigo-600 focus-within:border-indigo-600 sm:col-span-2">
                    <label for="sex"
                        class="absolute -top-2 left-2 -mt-px inline-block px-1 bg-white text-xs font-medium text-gray-900">SEX</label>
                    <input type="number" name="b" id="sex"
                        class="block w-full border-0 p-0 text-gray-900 placeholder-gray-500 focus:ring-0 sm:text-sm"
                        placeholder="">
                </div>
                <!-- <label>SEX</label>
        <input type="number" name="b"> -->

                <div
                    class="relative border border-gray-300 rounded-md px-3 py-2 shadow-sm focus-within:ring-1 focus-within:ring-indigo-600 focus-within:border-indigo-600 sm:col-span-2">
                    <label for="tor"
                        class="absolute -top-2 left-2 -mt-px inline-block px-1 bg-white text-xs font-medium text-gray-900">TIME
                        OF REACHING</label>
                    <input type="number" name="c" id="tor"
                        class="block w-full border-0 p-0 text-gray-900 placeholder-gray-500 focus:ring-0 sm:text-sm"
                        placeholder="">
                </div>
                <!-- <label>TIME OF REACHING</label>
        <input type="number" name="c"> -->

                <div
                    class="relative border border-gray-300 rounded-md px-3 py-2 shadow-sm focus-within:ring-1 focus-within:ring-indigo-600 focus-within:border-indigo-600 sm:col-span-2">
                    <label for="hyp"
                        class="absolute -top-2 left-2 -mt-px inline-block px-1 bg-white text-xs font-medium text-gray-900">HYPERTENSION</label>
                    <input type="number" name="d" id="hyp"
                        class="block w-full border-0 p-0 text-gray-900 placeholder-gray-500 focus:ring-0 sm:text-sm"
                        placeholder="">
                </div>
                <!-- <label>HYPERTENSION</label>
        <input type="number" name="d"> -->

                <div
                    class="relative border border-gray-300 rounded-md px-3 py-2 shadow-sm focus-within:ring-1 focus-within:ring-indigo-600 focus-within:border-indigo-600 sm:col-span-2">
                    <label for="dia"
                        class="absolute -top-2 left-2 -mt-px inline-block px-1 bg-white text-xs font-medium text-gray-900">DIABETES</label>
                    <input type="number" name="e" id="dia"
                        class="block w-full border-0 p-0 text-gray-900 placeholder-gray-500 focus:ring-0 sm:text-sm"
                        placeholder="">
                </div>
                <!-- <label>DIABETES</label>
        <input type="number" name="e"> -->

                <div
                    class="relative border border-gray-300 rounded-md px-3 py-2 shadow-sm focus-within:ring-1 focus-within:ring-indigo-600 focus-within:border-indigo-600 sm:col-span-2">
                    <label for="smo"
                        class="absolute -top-2 left-2 -mt-px inline-block px-1 bg-white text-xs font-medium text-gray-900">SMOKING</label>
                    <input type="number" name="f" id="smo"
                        class="block w-full border-0 p-0 text-gray-900 placeholder-gray-500 focus:ring-0 sm:text-sm"
                        placeholder="">
                </div>
                <!-- <label>SMOKING</label>
        <input type="number" name="f"> -->

                <div
                    class="relative border border-gray-300 rounded-md px-3 py-2 shadow-sm focus-within:ring-1 focus-within:ring-indigo-600 focus-within:border-indigo-600 sm:col-span-2">
                    <label for="esmo"
                        class="absolute -top-2 left-2 -mt-px inline-block px-1 bg-white text-xs font-medium text-gray-900">EXSMOKER</label>
                    <input type="number" name="g" id="esmo"
                        class="block w-full border-0 p-0 text-gray-900 placeholder-gray-500 focus:ring-0 sm:text-sm"
                        placeholder="">
                </div>
                <!-- <label>EXSMOKER</label>
        <input type="number" name="g"> -->

                <div
                    class="relative border border-gray-300 rounded-md px-3 py-2 shadow-sm focus-within:ring-1 focus-within:ring-indigo-600 focus-within:border-indigo-600 sm:col-span-2">
                    <label for="add"
                        class="absolute -top-2 left-2 -mt-px inline-block px-1 bg-white text-xs font-medium text-gray-900">DRUG
                        ADDICTION</label>
                    <input type="number" name="h" id="add"
                        class="block w-full border-0 p-0 text-gray-900 placeholder-gray-500 focus:ring-0 sm:text-sm"
                        placeholder="">
                </div>
                <!-- <label>DRUG ADDICTION</label>
        <input type="number" name="h"> -->

                <div
                    class="relative border border-gray-300 rounded-md px-3 py-2 shadow-sm focus-within:ring-1 focus-within:ring-indigo-600 focus-within:border-indigo-600 sm:col-span-2">
                    <label for="ckd"
                        class="absolute -top-2 left-2 -mt-px inline-block px-1 bg-white text-xs font-medium text-gray-900">CKD</label>
                    <input type="number" name="i" id="ckd"
                        class="block w-full border-0 p-0 text-gray-900 placeholder-gray-500 focus:ring-0 sm:text-sm"
                        placeholder="">
                </div>
                <!-- <label>CKD</label>
        <input type="number" name="i"> -->

                <div
                    class="relative border border-gray-300 rounded-md px-3 py-2 shadow-sm focus-within:ring-1 focus-within:ring-indigo-600 focus-within:border-indigo-600 sm:col-span-2">
                    <label for="cad"
                        class="absolute -top-2 left-2 -mt-px inline-block px-1 bg-white text-xs font-medium text-gray-900">CAD</label>
                    <input type="number" name="j" id="cad"
                        class="block w-full border-0 p-0 text-gray-900 placeholder-gray-500 focus:ring-0 sm:text-sm"
                        placeholder="">
                </div>
                <!-- <label>CAD</label>
        <input type="number" name="j"> -->

                <div
                    class="relative border border-gray-300 rounded-md px-3 py-2 shadow-sm focus-within:ring-1 focus-within:ring-indigo-600 focus-within:border-indigo-600 sm:col-span-2">
                    <label for="RHD"
                        class="absolute -top-2 left-2 -mt-px inline-block px-1 bg-white text-xs font-medium text-gray-900">RHD</label>
                    <input type="number" name="k" id="rhd"
                        class="block w-full border-0 p-0 text-gray-900 placeholder-gray-500 focus:ring-0 sm:text-sm"
                        placeholder="">
                </div>
                <!-- <label>RHD</label>
        <input type="number" name="k"> -->

                <div
                    class="relative border border-gray-300 rounded-md px-3 py-2 shadow-sm focus-within:ring-1 focus-within:ring-indigo-600 focus-within:border-indigo-600 sm:col-span-2">
                    <label for="pro"
                        class="absolute -top-2 left-2 -mt-px inline-block px-1 bg-white text-xs font-medium text-gray-900">PROSTHETIC
                        VALVE</label>
                    <input type="number" name="l" id="pro"
                        class="block w-full border-0 p-0 text-gray-900 placeholder-gray-500 focus:ring-0 sm:text-sm"
                        placeholder="">
                </div>
                <!-- <label>PROSTHETIC VALVE</label>
        <input type="number" name="l"> -->

                <div
                    class="relative border border-gray-300 rounded-md px-3 py-2 shadow-sm focus-within:ring-1 focus-within:ring-indigo-600 focus-within:border-indigo-600 sm:col-span-2">
                    <label for="dys"
                        class="absolute -top-2 left-2 -mt-px inline-block px-1 bg-white text-xs font-medium text-gray-900">DYSLIPIDEMIA</label>
                    <input type="number" name="m" id="dys"
                        class="block w-full border-0 p-0 text-gray-900 placeholder-gray-500 focus:ring-0 sm:text-sm"
                        placeholder="">
                </div>
                <!-- <label>DYSLIPIDEMIA</label>
        <input type="number" name="m"> -->

                <div
                    class="relative border border-gray-300 rounded-md px-3 py-2 shadow-sm focus-within:ring-1 focus-within:ring-indigo-600 focus-within:border-indigo-600 sm:col-span-2">
                    <label for="sic"
                        class="absolute -top-2 left-2 -mt-px inline-block px-1 bg-white text-xs font-medium text-gray-900">SICK
                        SINUS SYNDROME</label>
                    <input type="number" name="n" id="sic"
                        class="block w-full border-0 p-0 text-gray-900 placeholder-gray-500 focus:ring-0 sm:text-sm"
                        placeholder="">
                </div>
                <!-- <label>SICK SINUS SYNDROME</label>
        <input type="number" name="n"> -->

                <div
                    class="relative border border-gray-300 rounded-md px-3 py-2 shadow-sm focus-within:ring-1 focus-within:ring-indigo-600 focus-within:border-indigo-600 sm:col-span-2">
                    <label for="pac"
                        class="absolute -top-2 left-2 -mt-px inline-block px-1 bg-white text-xs font-medium text-gray-900">PACEMAKER</label>
                    <input type="number" name="o" id="pac"
                        class="block w-full border-0 p-0 text-gray-900 placeholder-gray-500 focus:ring-0 sm:text-sm"
                        placeholder="">
                </div>
                <!-- <label>PACEMAKER</label>
        <input type="number" name="o"> -->

                <div
                    class="relative border border-gray-300 rounded-md px-3 py-2 shadow-sm focus-within:ring-1 focus-within:ring-indigo-600 focus-within:border-indigo-600 sm:col-span-2">
                    <label for="pas"
                        class="absolute -top-2 left-2 -mt-px inline-block px-1 bg-white text-xs font-medium text-gray-900">PAST
                        STROKE</label>
                    <input type="number" name="p" id="pas"
                        class="block w-full border-0 p-0 text-gray-900 placeholder-gray-500 focus:ring-0 sm:text-sm"
                        placeholder="">
                </div>
                <!-- <label>PAST STROKE</label>
        <input type="number" name="p"> -->

                <div
                    class="relative border border-gray-300 rounded-md px-3 py-2 shadow-sm focus-within:ring-1 focus-within:ring-indigo-600 focus-within:border-indigo-600 sm:col-span-2">
                    <label for="past"
                        class="absolute -top-2 left-2 -mt-px inline-block px-1 bg-white text-xs font-medium text-gray-900">PAST
                        TIA</label>
                    <input type="number" name="q" id="past"
                        class="block w-full border-0 p-0 text-gray-900 placeholder-gray-500 focus:ring-0 sm:text-sm"
                        placeholder="">
                </div>
                <!-- <label>PAST TIA</label>
        <input type="number" name="q"> -->

                <div
                    class="relative border border-gray-300 rounded-md px-3 py-2 shadow-sm focus-within:ring-1 focus-within:ring-indigo-600 focus-within:border-indigo-600 sm:col-span-2">
                    <label for="med"
                        class="absolute -top-2 left-2 -mt-px inline-block px-1 bg-white text-xs font-medium text-gray-900">Medicine/SAPT/DAPT</label>
                    <input type="number" name="r" id="med"
                        class="block w-full border-0 p-0 text-gray-900 placeholder-gray-500 focus:ring-0 sm:text-sm"
                        placeholder="">
                </div>
                <!-- <label>Medicine/SAPT/DAPT</label>
        <input type="number" name="r"> -->

                <div
                    class="relative border border-gray-300 rounded-md px-3 py-2 shadow-sm focus-within:ring-1 focus-within:ring-indigo-600 focus-within:border-indigo-600 sm:col-span-2">
                    <label for="lef"
                        class="absolute -top-2 left-2 -mt-px inline-block px-1 bg-white text-xs font-medium text-gray-900">LEFT/RIGHT
                        HEMISPHERIC</label>
                    <input type="number" name="s" id="lef"
                        class="block w-full border-0 p-0 text-gray-900 placeholder-gray-500 focus:ring-0 sm:text-sm"
                        placeholder="">
                </div>
                <!-- <label>LEFT/RIGHT HEMISPHERIC</label>
        <input type="number" name="s"> -->

                <div
                    class="relative border border-gray-300 rounded-md px-3 py-2 shadow-sm focus-within:ring-1 focus-within:ring-indigo-600 focus-within:border-indigo-600 sm:col-span-2">
                    <label for="nic"
                        class="absolute -top-2 left-2 -mt-px inline-block px-1 bg-white text-xs font-medium text-gray-900">NIHSS
                        AT ADMISSION</label>
                    <input type="number" name="t" id="nic"
                        class="block w-full border-0 p-0 text-gray-900 placeholder-gray-500 focus:ring-0 sm:text-sm"
                        placeholder="">
                </div>
                <!-- <label>NIHSS AT ADMISSION</label>
        <input type="number" name="t"> -->

                <div
                    class="relative border border-gray-300 rounded-md px-3 py-2 shadow-sm focus-within:ring-1 focus-within:ring-indigo-600 focus-within:border-indigo-600 sm:col-span-2">
                    <label for="mrs"
                        class="absolute -top-2 left-2 -mt-px inline-block px-1 bg-white text-xs font-medium text-gray-900">MRS
                        AT ADMISSION</label>
                    <input type="number" name="u" id="mrs"
                        class="block w-full border-0 p-0 text-gray-900 placeholder-gray-500 focus:ring-0 sm:text-sm"
                        placeholder="">
                </div>
                <!-- <label>MRS AT ADMISSION</label>
        <input type="number" name="u"> -->

                <div
                    class="relative border border-gray-300 rounded-md px-3 py-2 shadow-sm focus-within:ring-1 focus-within:ring-indigo-600 focus-within:border-indigo-600 sm:col-span-2">
                    <label for="str"
                        class="absolute -top-2 left-2 -mt-px inline-block px-1 bg-white text-xs font-medium text-gray-900">STROKE
                        ETIOLOGY</label>
                    <input type="number" name="v" id="str"
                        class="block w-full border-0 p-0 text-gray-900 placeholder-gray-500 focus:ring-0 sm:text-sm"
                        placeholder="">
                </div>
                <!-- <label>STROKE ETIOLOGY</label>
        <input type="number" name="v"> -->

                <div
                    class="relative border border-gray-300 rounded-md px-3 py-2 shadow-sm focus-within:ring-1 focus-within:ring-indigo-600 focus-within:border-indigo-600 sm:col-span-2">
                    <label for="bas"
                        class="absolute -top-2 left-2 -mt-px inline-block px-1 bg-white text-xs font-medium text-gray-900">BASELINE
                        CT ASPECTS</label>
                    <input type="number" name="w" id="bas"
                        class="block w-full border-0 p-0 text-gray-900 placeholder-gray-500 focus:ring-0 sm:text-sm"
                        placeholder="">
                </div>
                <!-- <label>BASELINE CT ASPECTS</label>
        <input type="number" name="w"> -->

                <div
                    class="relative border border-gray-300 rounded-md px-3 py-2 shadow-sm focus-within:ring-1 focus-within:ring-indigo-600 focus-within:border-indigo-600 sm:col-span-2">
                    <label for="mca"
                        class="absolute -top-2 left-2 -mt-px inline-block px-1 bg-white text-xs font-medium text-gray-900">HYPERDENSE
                        MCA SIGN</label>
                    <input type="number" name="x" id="mca"
                        class="block w-full border-0 p-0 text-gray-900 placeholder-gray-500 focus:ring-0 sm:text-sm"
                        placeholder="">
                </div>
                <!-- <label>HYPERDENSE MCA SIGN</label>
        <input type="number" name="x"> -->

                <div
                    class="relative border border-gray-300 rounded-md px-3 py-2 shadow-sm focus-within:ring-1 focus-within:ring-indigo-600 focus-within:border-indigo-600 sm:col-span-2">
                    <label for="occ"
                        class="absolute -top-2 left-2 -mt-px inline-block px-1 bg-white text-xs font-medium text-gray-900">Occlusion</label>
                    <input type="number" name="y" id="occ"
                        class="block w-full border-0 p-0 text-gray-900 placeholder-gray-500 focus:ring-0 sm:text-sm"
                        placeholder="">
                </div>
                <!-- <label>Occlusion</label>
        <input type="number" name="y"> -->

                <div
                    class="relative border border-gray-300 rounded-md px-3 py-2 shadow-sm focus-within:ring-1 focus-within:ring-indigo-600 focus-within:border-indigo-600 sm:col-span-2">
                    <label for="ao"
                        class="absolute -top-2 left-2 -mt-px inline-block px-1 bg-white text-xs font-medium text-gray-900">A1+A2</label>
                    <input type="number" name="z" id="ao"
                        class="block w-full border-0 p-0 text-gray-900 placeholder-gray-500 focus:ring-0 sm:text-sm"
                        placeholder="">
                </div>
                <!-- <label>A1+A2</label>
        <input type="number" name="z"> -->

                <div
                    class="relative border border-gray-300 rounded-md px-3 py-2 shadow-sm focus-within:ring-1 focus-within:ring-indigo-600 focus-within:border-indigo-600 sm:col-span-2">
                    <label for="clo"
                        class="absolute -top-2 left-2 -mt-px inline-block px-1 bg-white text-xs font-medium text-gray-900">CLOT
                        BURDEN SCORE</label>
                    <input type="number" name="aa" id="clo"
                        class="block w-full border-0 p-0 text-gray-900 placeholder-gray-500 focus:ring-0 sm:text-sm"
                        placeholder="">
                </div>
                <!-- <label>CLOT BURDEN SCORE</label>
        <input type="number" name="aa"> -->

                <div
                    class="relative border border-gray-300 rounded-md px-3 py-2 shadow-sm focus-within:ring-1 focus-within:ring-indigo-600 focus-within:border-indigo-600 sm:col-span-2">
                    <label for="thr"
                        class="absolute -top-2 left-2 -mt-px inline-block px-1 bg-white text-xs font-medium text-gray-900">THROMBUS
                        LENGTH</label>
                    <input type="number" name="bb" id="thr"
                        class="block w-full border-0 p-0 text-gray-900 placeholder-gray-500 focus:ring-0 sm:text-sm"
                        placeholder="">
                </div>
                <!-- <label>THROMBUS LENGTH</label>
        <input type="number" name="bb"> -->

                <div
                    class="relative border border-gray-300 rounded-md px-3 py-2 shadow-sm focus-within:ring-1 focus-within:ring-indigo-600 focus-within:border-indigo-600 sm:col-span-2">
                    <label for="clt"
                        class="absolute -top-2 left-2 -mt-px inline-block px-1 bg-white text-xs font-medium text-gray-900">COLLATERAL
                        CT ANGIO</label>
                    <input type="number" name="cc" id="clt"
                        class="block w-full border-0 p-0 text-gray-900 placeholder-gray-500 focus:ring-0 sm:text-sm"
                        placeholder="">
                </div>
                <!-- <label>COLLATERAL CT ANGIO</label>
        <input type="number" name="cc"> -->

                <div
                    class="relative border border-gray-300 rounded-md px-3 py-2 shadow-sm focus-within:ring-1 focus-within:ring-indigo-600 focus-within:border-indigo-600 sm:col-span-2">
                    <label for="bri"
                        class="absolute -top-2 left-2 -mt-px inline-block px-1 bg-white text-xs font-medium text-gray-900">BRIDGING
                        THROMBOLYSIS</label>
                    <input type="number" name="dd" id="bri"
                        class="block w-full border-0 p-0 text-gray-900 placeholder-gray-500 focus:ring-0 sm:text-sm"
                        placeholder="">
                </div>
                <!-- <label>BRIDGING THROMBOLYSIS</label>
        <input type="number" name="dd"> -->

                <div
                    class="relative border border-gray-300 rounded-md px-3 py-2 shadow-sm focus-within:ring-1 focus-within:ring-indigo-600 focus-within:border-indigo-600 sm:col-span-2">
                    <label for="sum"
                        class="absolute -top-2 left-2 -mt-px inline-block px-1 bg-white text-xs font-medium text-gray-900">SUM</label>
                    <input type="number" name="ee" id="sum"
                        class="block w-full border-0 p-0 text-gray-900 placeholder-gray-500 focus:ring-0 sm:text-sm"
                        placeholder="">
                </div>
                <!-- <label>SUM</label>
        <input type="number" name="ee"> -->

                <div
                    class="relative border border-gray-300 rounded-md px-3 py-2 shadow-sm focus-within:ring-1 focus-within:ring-indigo-600 focus-within:border-indigo-600 sm:col-span-2">
                    <label for="tic"
                        class="absolute -top-2 left-2 -mt-px inline-block px-1 bg-white text-xs font-medium text-gray-900">TICI
                        Score</label>
                    <input type="number" name="ff" id="tic"
                        class="block w-full border-0 p-0 text-gray-900 placeholder-gray-500 focus:ring-0 sm:text-sm"
                        placeholder="">
                </div>
                <!-- <label>TICI Score</label>
        <input type="number" name="ff"> -->

                <div
                    class="relative border border-gray-300 rounded-md px-3 py-2 shadow-sm focus-within:ring-1 focus-within:ring-indigo-600 focus-within:border-indigo-600 sm:col-span-2">
                    <label for="sym"
                        class="absolute -top-2 left-2 -mt-px inline-block px-1 bg-white text-xs font-medium text-gray-900">SYMPTOMATIC
                        ICH</label>
                    <input type="number" name="gg" id="sym"
                        class="block w-full border-0 p-0 text-gray-900 placeholder-gray-500 focus:ring-0 sm:text-sm"
                        placeholder="">
                </div>
                <!-- <label>SYMPTOMATIC ICH</label>
        <input type="number" name="gg"> -->

                <div
                    class="relative border border-gray-300 rounded-md px-3 py-2 shadow-sm focus-within:ring-1 focus-within:ring-indigo-600 focus-within:border-indigo-600 sm:col-span-2">
                    <label for="asp"
                        class="absolute -top-2 left-2 -mt-px inline-block px-1 bg-white text-xs font-medium text-gray-900">24
                        H
                        CT ASPECTS</label>
                    <input type="number" name="hh" id="asp"
                        class="block w-full border-0 p-0 text-gray-900 placeholder-gray-500 focus:ring-0 sm:text-sm"
                        placeholder="">
                </div>


                <!-- <label>24 H CT ASPECTS</label>
        <input type="number" name="hh"> -->

                <!-- <div>
            <label class="text-base font-medium text-gray-900">Notifications</label>
            <p class="text-sm leading-5 text-gray-500">How do you prefer to receive notifications?</p>
            <fieldset class="mt-4">
                <legend class="sr-only">Notification method</legend>
                <div class="space-y-4 sm:flex sm:items-center sm:space-y-0 sm:space-x-10">
                    <div class="flex items-center">
                        <input id="email" name="notification-method" type="radio" checked
                            class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300">
                        <label for="email" class="ml-3 block text-sm font-medium text-gray-700"> Email </label>
                    </div>

                    <div class="flex items-center">
                        <input id="sms" name="notification-method" type="radio"
                            class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300">
                        <label for="sms" class="ml-3 block text-sm font-medium text-gray-700"> Phone (SMS) </label>
                    </div>

                    <div class="flex items-center">
                        <input id="push" name="notification-method" type="radio"
                            class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300">
                        <label for="push" class="ml-3 block text-sm font-medium text-gray-700"> Push notification
                        </label>
                    </div>
                </div>
            </fieldset>
        </div> -->


            </div>
            <br>
            <input type="checkbox" id="myCheck" name="test" required>
            <label for="yes"> I confirm that I have read and understood the disclaimer.</label><br>



            <div>
                <div>
                    <button type="submit" id="mycheck" value="Predict" class="justify-center py-2 px-8 border border-transparent
                 rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700
                  focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                        Predict outcomes
                    </button>
                </div>
            </div>


        </form>

        <div class="pb-5 border-b border-gray-200 mt-4">
            <h3 class="text-xl leading-6 font-medium text-gray-900">DISCLAIMER</h3>
            <p class="mt-2 text-sm text-gray-500">If you have any queries or comments about this calculator,
                kindly get in touch with the associated author. Because our model's local machine learning method has
                limitations regarding extrapolation to unknown, extreme input variable values, predictions from inputs
                and the outcomes of predictions produced using less common input variables during our training. This
                calculator is not meant to replace expert medical advice, consultation, diagnosis, or treatment; it is
                primarily created for educational and research reasons. Any of the authoring universities are under no
                obligation to offer supplemental services or support and are only providing this calculator "as is"
                without any warranties. All responsibility for the calculator's performance and quality rests on the
                person using it.</p>
            <p class="mt-2 text-sm text-gray-500">It also doesn't include data on how quality of life has
                improved or declined. Any particular patient may also have additional medical issues that are not taken
                into account by the model but could have an impact on the specific results. Therefore, although while a
                prediction score can be used as a calculator to aid in physician and patient conversations when choosing
                a course of therapy, it shouldn't be the only factor considered when making decisions about care for any
                medical condition. When utilising the calculator, medical professionals should rely on their own
                independent clinical judgement and group decision-making.</p>
            <p class="mt-2 text-sm text-gray-500">You have admitted that you have read, understand, and agree
                to be bound by this disclaimer by using the calculator. You cannot use the calculator if you do not
                consent to be bound by this disclaimer's legal terms.</p>
        </div>

    </div>


    <div class="row">
        <div class="centric">
            <div class="column">
                <h1 class="text-xl font-semibold text-gray-900">Autogluon : mRS at discharge</h1>
                <img src="{{url_for('static', filename='one_.png')}}" alt="Snow" style="width:100%">
            </div>

            <div class="column">
                <h1 class="text-xl font-semibold text-gray-900">Autogluon : mRS at 3 Months</h1>
                <img src="{{url_for('static', filename='one__.png')}}" alt="Forest" style="width:100%">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="centric">
            <div class="column">
                <h1 class="text-xl font-semibold text-gray-900">MLJAR : mRS at Discharge</h1>
                <img src="{{url_for('static', filename='two_.png')}}" alt="Snow" style="width:100%">
            </div>
            <div class="column">
                <h1 class="text-xl font-semibold text-gray-900">MLJAR : mRS at 3 Months</h1>
                <img src="{{url_for('static', filename='two__.Jpg')}}" alt="Forest" style="width:100%">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="centric">
            <div class="column">
                <h1 class="text-xl font-semibold text-gray-900">Decision Tree Classifier : mRS at Discharge</h1>
                <img src="{{url_for('static', filename='three_.png')}}" alt="Snow" style="width:100%">
            </div>
            <div class="column">
                <h1 class="text-xl font-semibold text-gray-900">SVM : mRS at 3 Discharge</h1>
                <img src="{{url_for('static', filename='three__.png')}}" alt="Forest" style="width:100%">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="centric">
            <div class="column">
                <h1 class="text-xl font-semibold text-gray-900">SVM : mRS at 3 Months</h1>
                <img src="{{url_for('static', filename='four_.png')}}" alt="Snow" style="width:100%">
            </div>

            <div class="column">
                <h1 class="text-xl font-semibold text-gray-900">KNN : mRS at 3 Months</h1>
                <img src="{{url_for('static', filename='four__.png')}}" alt="Forest" style="width:100%">
            </div>
        </div>
    </div>

    <!-- <div>
        <h1 class="text-xl font-semibold text-gray-900">MLJAR : mRS at discharge</h1><img
            src="{{url_for('static', filename='two_.png')}}" align="left-full" />
    </div>
    <div>
        <h1 class="text-xl font-semibold text-gray-900">MLJAR : mRS at 3 months</h1><img
            src="{{url_for('static', filename='two__.jpg')}}" align="left-full" />
    </div>
    <div><img src="{{url_for('static', filename='three_.png')}}" align="left-full" />
    </div>
    <div><img src="{{url_for('static', filename='three__.png')}}" align="left-full" />
    </div>
    <div><img src="{{url_for('static', filename='four_.png')}}" align="left-full" />
    </div>
    <div><img src="{{url_for('static', filename='four__.png')}}" align="left-full" />
    </div> -->

</body>

<script>
    // When the user clicks on div, open the popup
    function myFunction() {
        var popup = document.getElementById("mycheck");
        popup.classList.toggle("show");
    }
</script>
<script>
    // select a prticular row on click on that row and populate the row data in the form
    document.addEventListener('DOMContentLoaded', function () {
        var table = document.getElementById('myTable');
        for (var i = 1; i < table.rows.length; i++) {
            table.rows[i].onclick = function () {
                //rIndex = this.rowIndex;
                document.getElementById("age").value = this.cells[1].innerText;
                document.getElementById("sex").value = this.cells[2].innerText;
                document.getElementById("tor").value = this.cells[3].innerText;
                document.getElementById("hyp").value = this.cells[4].innerText;
                document.getElementById("dia").value = this.cells[5].innerText;
                document.getElementById("smo").value = this.cells[6].innerText;
                document.getElementById("esmo").value = this.cells[7].innerText;
                document.getElementById("add").value = this.cells[8].innerText;
                document.getElementById("ckd").value = this.cells[9].innerText;
                document.getElementById("cad").value = this.cells[10].innerText;
                document.getElementById("rhd").value = this.cells[11].innerText;
                document.getElementById("pro").value = this.cells[12].innerText;
                document.getElementById("dys").value = this.cells[13].innerText;
                document.getElementById("sic").value = this.cells[14].innerText;
                document.getElementById("pac").value = this.cells[15].innerText;
                document.getElementById("pas").value = this.cells[16].innerText;
                document.getElementById("past").value = this.cells[17].innerText;
                document.getElementById("med").value = this.cells[18].innerText;
                document.getElementById("lef").value = this.cells[19].innerText;
                document.getElementById("nic").value = this.cells[20].innerText;
                document.getElementById("mrs").value = this.cells[21].innerText;
                document.getElementById("str").value = this.cells[22].innerText;
                document.getElementById("bas").value = this.cells[23].innerText;
                document.getElementById("mca").value = this.cells[24].innerText;
                document.getElementById("occ").value = this.cells[25].innerText;
                document.getElementById("ao").value = this.cells[26].innerText;
                document.getElementById("clo").value = this.cells[27].innerText;
                document.getElementById("thr").value = this.cells[28].innerText;
                document.getElementById("clt").value = this.cells[29].innerText;
                document.getElementById("bri").value = this.cells[30].innerText;
                document.getElementById("sum").value = this.cells[31].innerText;
                document.getElementById("tic").value = this.cells[32].innerText;
                document.getElementById("sym").value = this.cells[33].innerText;
                document.getElementById("asp").value = this.cells[34].innerText;


            }
        }

    });

</script>

</html>